@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../../public/fonts/Gilroy-Regular.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../../public/fonts/Gilroy-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('../../public/fonts/Nekst-Black.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../../public/fonts/Nekst-Black.woff') format('woff'); /* Modern Browsers */
}
