$maxWidth: 1440px;
$desktopWidth: 1120px;
$tabletWidth: 768px;
$mobileWidth: 320px;

// -------- colors -----------
$white: #ffffff;
$black: #111111;

$accent1: #FF9514;
$gray-darck: #575757;
$gray-light: #F3F3F4;

$transition: all 0.3s ease;