$tabletWidth: 1119px;
$mobileWidth: 767px;

// -------- colors -----------
$white: #ffffff;
$black: #111111;

$accent1: #FF9514;
$gray-1: #575757;
$gray-2: #E1E1E1;
$gray-3: #F3F3F4;
$gray-4: #EBEBEC;
$gray-5: #333333;
$gray-6: #333E48;

$transition: all 0.3s ease;