$maxWidth: 1440px;
$desktopWidth: 1120px;
$tabletWidth: 768px;
$mobileWidth: 320px;

// -------- colors -----------
$white: #ffffff;
$black: #111111;

$accent1: #FF9514;
$gray-1: #575757;
$gray-2: #E1E1E1;
$gray-3: #F3F3F4;
$gray-4: #EBEBEC;
$gray-5: #333333;

$transition: all 0.3s ease;