@use '../../global-styles/variables' as v;

.main {
  width: 100%;
  max-width: 1440px;
  padding: 0 48px;
  margin: 0 auto;
  height: 100vh;
  
  display: flex;
  align-items: center;

  @media screen and (max-width: v.$tabletWidth) {
    padding: 0 36px;
    align-items: flex-start;
  }

  @media screen and (max-width: v.$mobileWidth) {
    padding: 0 20px;
  }
}